* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* approccio mobile first */

/* .quadrato {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 20px;
}

@media screen and (min-width: 479px) {
    body {
        background-color: yellow;
    }
    .quadrato {
        float: left;
        background-color: red;
        margin: 5px 10px;
    }
} */

/* approccio desktop first */

.quadrato {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 5px 10px;
    float: left;
}

@media screen and (max-width: 479px){
    .quadrato {
        float: none;
        background-color: blue;
    }
}